In [1]:
import yfinance as yf
df = yf.Ticker('600887.SS').history(start='2021-08-01',end='2021-10-01')[['High','Low']]

In [2]:
df.index = df.index.astype(int)
df = df.reset_index()

df['last_high'] = df.High.rolling(window=25).apply(lambda x: x.idxmax())
df['aroon_up'] = (25 - (df.index - df.last_high))/25 * 100
df['last_low'] = df.Low.rolling(window=25).apply(lambda x: x.idxmin())
df['aroon_down'] = (25 - (df.index - df.last_low))/25 * 100
df['aroon_oscillator'] = df.aroon_up - df.aroon_down

import time
df['Date'] = [time.strftime("%Y-%m-%d", time.localtime(ts/1e9)) for ts in df.Date]
df = df.set_index('Date')

/var/folders/_d/wg58dnq97vb6sg72nkscnm4c0000gn/T/ipykernel_2814/1623070208.py:1: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  df.index = df.index.astype(int)

,High,Low,last_high,aroon_up,last_low,aroon_down,aroon_oscillator
Date,,,,,,,
2021-08-02,34.740002,32.900002,NaN,NaN,NaN,NaN,NaN
2021-08-03,35.590000,34.009998,NaN,NaN,NaN,NaN,NaN
2021-08-04,36.200001,34.639999,NaN,NaN,NaN,NaN,NaN
2021-08-05,35.430000,34.340000,NaN,NaN,NaN,NaN,NaN
2021-08-06,35.549999,33.900002,NaN,NaN,NaN,NaN,NaN

In [3]:
import pandas_ta as ta
df.ta.aroon(length=25, append=True)

            AROOND_25  AROONU_25  AROONOSC_25
Date
2021-08-02        NaN        NaN          NaN
2021-08-03        NaN        NaN          NaN
2021-08-04        NaN        NaN          NaN
2021-08-05        NaN        NaN          NaN
2021-08-06        NaN        NaN          NaN
2021-08-09        NaN        NaN          NaN
2021-08-10        NaN        NaN          NaN
2021-08-11        NaN        NaN          NaN
2021-08-12        NaN        NaN          NaN
2021-08-13        NaN        NaN          NaN
2021-08-16        NaN        NaN          NaN
2021-08-17        NaN        NaN          NaN
2021-08-18        NaN        NaN          NaN
2021-08-19        NaN        NaN          NaN
2021-08-20        NaN        NaN          NaN
2021-08-23        NaN        NaN          NaN
2021-08-24        NaN        NaN          NaN
2021-08-25        NaN        NaN          NaN
2021-08-26        NaN        NaN          NaN
2021-08-27        NaN        NaN          NaN
2021-08-30        NaN        NaN          NaN
2021-08-31        NaN        NaN          NaN
2021-09-01        NaN        NaN          NaN
2021-09-02        NaN        NaN          NaN
2021-09-03        NaN        NaN          NaN
2021-09-06       80.0      100.0         20.0
2021-09-07       76.0       96.0         20.0
2021-09-08       72.0       92.0         20.0
2021-09-09       68.0       88.0         20.0
2021-09-10       64.0       84.0         20.0
2021-09-13       60.0       80.0         20.0
2021-09-14       56.0       76.0         20.0
2021-09-15       52.0       72.0         20.0
2021-09-16       48.0       68.0         20.0
2021-09-17       44.0       64.0         20.0
2021-09-22       40.0       60.0         20.0
2021-09-23       36.0       56.0         20.0
2021-09-24       32.0       52.0         20.0
2021-09-27       28.0      100.0         72.0
2021-09-28       24.0       96.0         72.0
2021-09-29       20.0       92.0         72.0
2021-09-30       16.0      100.0         84.0

In [7]:
df.to_excel('aroon_oscillator_calculation.xlsx')